.App {
  display: flex;
  padding: 36px;
}

.title-list{
  padding: 16px;
  margin-right: 12px;
  border: solid 2px black;
  width: 500px;
}
li{
  cursor: pointer;
  margin-bottom: 8px;
  list-style-type:none;
}

.content-container{
  margin-top: 15px;
  padding: 16px;
  border: solid 2px black;
  width: 1000px;
}

.comments-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  bottom: 50%;
}

.comments {
  padding: 16px;
  width: 800px;
  min-height: 250px;
  background-color: #E5E5E5;
}

button {
  margin-top: 100px;
  margin-bottom: 36px;
  padding: 12px 24px;
  cursor: pointer;
}